<header>
    <div id="topBar" class="container">
        <h2 id='title'>Citibike View</h2>
    </div>
</header>

<section>
    {{outlet}}
</section>

<footer>
    <div class="container">
        copyright peter brandt 2014
    </div>
</footer>