<div id="map">
</div>
<div>
    <header>Bike Usage</header>
    {{line-chart width=800 height=200 dataUrl="/bikeTotals" x="date" y="bikes_in_use"}}
</div>
<div>
    {{#each content}}
        <div>
            {{stationname}}
        </div>
    {{/each}}
</div>