<div id="map">
    no map yet...
</div>
<div>
    {{!-- line-chart width=500 height=300 data=daydata x="letter" y="frequency" --}}
    {{line-chart width=800 height=500 data=bikeTotalsHistory x="date" y="bikesInUse"}}
</div>