/* Fonts */
@font-face {
  font-family: 'monotonregular';
  src: url('./fonts/monoton-regular.eot');
  src: url('./fonts/monoton-regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/monoton-regular.woff') format('woff'),
  url('./fonts/monoton-regular.ttf') format('truetype'),
  url('./fonts/monoton-regular.svg#monotonregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* Bootstrap redefines */
@import "variables";

@import "../../vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap";

/* Post bootstrap stuff */

/* Components */
@import "shapes";
@import "placement";

.olMap {
  height: 600px;
  margin: 0;
}

h1 {
  font-size: 5.5em;
}

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }
