/* Fonts */
@font-face
{
  font-family: 'Monton';
  src: url('/assets/Monoton-Regular.ttf');
}

/* Bootstrap redefines */
@import "variables";

@import "../../vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap";

/* Post bootstrap stuff */

/* Components */
@import "shapes";
@import "placement";

.olMap {
  height: 600px;
}

#title {
  font-family: 'Monoton';
  color: #fff;
}

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }
